<p>editresourceenquiry works!</p>
<form name="editform" #form="ngForm" (ngSubmit)="onSubmit(form)">
   <label for="ResourceEnquiryId">ResourceEnquiryId</label> <input type="" name="ResourceEnquiryId" [ngModel]="renqService.formData.ResourceEnquiryId"class="form-control" placeholder="Enter full name" minlength="10" maxlength="25" required
    />
    <label for="EnquiryDescription">Enquiry</label>
    <textarea name="EnquiryDescription" id="EnquiryDescription" class="form-control" #EnquiryDescription="ngModel" 
    [(ngModel)]="renqService.formData.EnquiryDescription"></textarea>
<br>
    <label for="ResourceEnquiryStatus">ResourceEnquiryStatus</label> 
    <select   name="ResourceEnquiryStatus" id="ResourceEnquiryStatus" class="form-control" #ResourceEnquiryStatus="ngModel" required
    [(ngModel)]="renqService.formData.ResourceEnquiryStatus">
   
    <option value="Responded">Responded</option>
    <option value="Accepted">Accepted</option>
    <option value="Rejected">Rejected</option>


</select><!--<input type="" name="ResourceEnquiryStatus" [ngModel]="renqService.formData.ResourceEnquiryStatus"class="form-control" placeholder="Enter full name" minlength="10" maxlength="25" required
    />--><br><br>
    <select style="display:none ;"  name="ResourceId" id="ResourceId" class="form-control" #ResourceId="ngModel" required
            [(ngModel)]="renqService.formData.ResourceId">
            <option value=0 disabled>Choose Resource</option>
            <option *ngFor="let res of renqService.resources" value="{{res.ResourceId}}">{{res.ResourceName}}</option>


        </select>
        
        <input style="display:none"  type="" name="LeadId" [ngModel]="renqService.formData.LeadId"class="form-control" placeholder="Enter full name" minlength="10" maxlength="25" required
    />
    
        <input style="display: none;"  type="date" name="ResourceEnquiryDate" #ResourceEnquiryDate="ngModel" [(ngModel)]="renqService.formData.ResourceEnquiryDate"
        class="form-control"  [ngClass]="{ 'is-invalid': ResourceEnquiryDate.touched
             && ResourceEnquiryDate.invalid }" />
    <div class="form-group">
        <button type="submit" 
            class="btn btn-lg btn-primary form-control">Update Status</button>


    </div>
</form>