/*----header----*/
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-brand{
    color: white;
    font-weight: 500;
}

/*----footer-----*/
/*footer {
    font-size: 20px;
    color: white;
    
    background: #7829CF;
    background: linear-gradient(to right, #7829CF, #F92D97);
    padding: 4em 10px; 
}*/