
<div class="container">

    <div class="header">
        <h5>Enquiry</h5>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="search here..."
            [(ngModel)]="filter" >

        </div>
       
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Enquiry Id</th>
                <th>Course Id</th>
                <th>Lead ID</th>
                <th>Enquiry Status</th>
               
                <th>Action</th>
                

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let enq of cenqService.courseenquiries | filter: filter | paginate:{itemsPerPage:5,currentPage:page}" >
                <td (click)="populateForm(enq)">{{enq.CourseEnquiryId}}</td>
                <td (click)="populateForm(enq)">{{enq.CourseId}}</td>
                <td (click)="populateForm(enq)">{{enq.LeadId}}</td>
                <td (click)="populateForm(enq)">{{enq.CourseEnquiryStatus}}</td>
                <td style="display: none;" (click)="populateForm(enq)">{{enq.CourseEnquiryDate | date:'dd-MM-yyyy'}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteCourseEnquiry(enq.CourseEnquiryId)">X</button>&nbsp;
                    <button style="color: white;background-color: blueviolet;" class="btn btn-sm btn-info" (click)="populateForm(enq)">Edit</button>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="footer">
       <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
    </div>