<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/leadview">Home</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/leadview">Go Back</a></li>
         
        
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
  <h3 style="text-align: center;">Resource Enquiry</h3>
  <form name="renqform" #form="ngForm" autocomplete="nope" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label class="col-md-4">Resource Name</label>
        <select name="ResourceId" id="ResourceId" class="form-control" placeholder="Coose Resource" #ResourceId="ngModel" required
            [(ngModel)]="renqService.formData.ResourceId">
            <option value=0 disabled>Choose Resource</option>
            <option *ngFor="let res of renqService.resources" value="{{res.ResourceId}}">{{res.ResourceName}}</option>


        </select>
        <div class="validation-error" *ngIf="ResourceId.touched 
        && ResourceId.invalid">
            <div style="color: red;" *ngIf="ResourceId.errors.required">
                Resource Name is required</div>
        </div>
    </div><br>
    <label for="EnquiryDescription">Your Enquiry</label>
    <textarea name="EnquiryDescription" id="EnquiryDescription" class="form-control" #EnquiryDescription="ngModel" required
    [(ngModel)]="renqService.formData.EnquiryDescription"></textarea><br><br>
    <!--<input style="display: none;" name="LeadId" #LeadId="ngModel" [ngModel]="renqService.formData.LeadId"
            class="form-control" placeholder="" 
            [ngClass]="{'is-invalid':LeadId.touched && LeadId.invalid}" />-->
    <input style="display: none;" name="ResourceEnquiryStatus" #ResourceEnquiryStatus="ngModel"
        [ngModel]="renqService.formData.ResourceEnquiryStatus" class="form-control" placeholder=""
        [ngClass]="{'is-invalid':ResourceEnquiryStatus.touched && ResourceEnquiryStatus.invalid}" />
    <input style="display: none;"  type="date" name="ResourceEnquiryDate" #ResourceEnquiryDate="ngModel" [(ngModel)]="renqService.formData.ResourceEnquiryDate"
        class="form-control"  [ngClass]="{ 'is-invalid': ResourceEnquiryDate.touched
             && ResourceEnquiryDate.invalid }" />
    <div class="form-group">
        <button style="background:#7829CF;width:20%;;margin-left: 25em;" type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-primary form-control">Submit Enquiry</button>


    </div>
</form>
<br>
</div>
