<h3>Enquiry</h3>
<form name="renqform" #form="ngForm" autocomplete="nope" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label class="col-md-4">Resource Name</label>
        <select name="ResourceId" id="ResourceId" class="form-control" #ResourceId="ngModel" required
            [(ngModel)]="renqService.formData.ResourceId">
            <option value=0 disabled>Choose Resource</option>
            <option *ngFor="let res of renqService.resources" value="{{res.ResourceId}}">{{res.ResourceName}}</option>


        </select>
        <div class="validation-error" *ngIf="ResourceId.touched 
        && ResourceId.invalid">
            <div *ngIf="ResourceId.errors.required">
                Resource Id is required</div>
        </div>
    </div><br><br>
    <!--<input style="display: none;" name="LeadId" #LeadId="ngModel" [ngModel]="renqService.formData.LeadId"
            class="form-control" placeholder="" 
            [ngClass]="{'is-invalid':LeadId.touched && LeadId.invalid}" />-->
    <input style="display: none;" name="ResourceEnquiryStatus" #ResourceEnquiryStatus="ngModel"
        [ngModel]="renqService.formData.ResourceEnquiryStatus" class="form-control" placeholder=""
        [ngClass]="{'is-invalid':ResourceEnquiryStatus.touched && ResourceEnquiryStatus.invalid}" />
    <input style="display: none;"  type="date" name="ResourceEnquiryDate" #ResourceEnquiryDate="ngModel" [(ngModel)]="renqService.formData.ResourceEnquiryDate"
        class="form-control"  [ngClass]="{ 'is-invalid': ResourceEnquiryDate.touched
             && ResourceEnquiryDate.invalid }" />
    <div class="form-group">
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-primary form-control">Submit Enquiry</button>


    </div>
</form>