<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/home">Home</a></li>
         
          
          <li class="nav-item"><a class="nav-link" href="/courselistlead">Courses</a></li>
          <li class="nav-item"><a class="nav-link" href="/resourcelistlead">Resources</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>
          <li class="nav-item"><a class="nav-link" href="/confirm">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="ftco-section bg-light ftco-bread">
    <div class="container">
        <h1 class="mb-3 bread">About Us</h1>
        <p class="shopping-idea">Want to know what we do ?</p>
    </div>
</section>
<section class="ftco-section-bottom bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            <div class="about-details-cap mb-50">
            <h4>Our Mission</h4>
            <p>We enhance staff and faculty knowledge and skills with high-quality, 
                accessible training and professional development opportunities to support GeoInfo Tech’s vision 
                of becoming the best public university of our size dedicated to undergraduate education and research.
            </p>
            <p> We are dedicated to supporting the campus community and being a strategic partner to help 
                other departments meet their objectives.  As a result of these partnerships, our professional 
                development opportunities create a GeoInfo Tech workplace that is efficient, effective, and a good steward of resources.
            </p>
            </div>
            <div class="about-details-cap mb-50">
            <h4>Our Vision</h4>
            <p>To make GeoInfo Tech a dynamic, vibrant, value-based learning organization 
                comprising of exceptionally skilled, motivated and committed professionals who facilitate 
                seamless transformation of our participants to excellent performers.
            </p>
            <p>
                GeoInfo Tech is able to achieve its mission and vision because of the  
                and the GeoInfo Tech Trainers. Our site is very informative and contains significant amount 
                of information about our organization and the programs that we run. We hope that you will 
                reach out to us for your soft skills training and leadership development needs and allow 
                the efficacy of the program to speak for our work.
            </p>
            </div>
            </div>
            </div>
    </div>
</section>