<form name="editform" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label for="CourseEnquiryId">CourseEnquiryId</label> <input type="" name="CourseEnquiryId"
        [ngModel]="cenqService.formData2.CourseEnquiryId" class="form-control" placeholder="Enter full name"
        minlength="10" maxlength="25" required />

    <label for="CourseEnquiryStatus">CourseEnquiryStatus</label>
    <!-- <input type="" name="CourseEnquiryStatus" [ngModel]="cenqService.formData2.CourseEnquiryStatus"class="form-control" placeholder=""/>-->


    <select name="CourseEnquiryStatus" id="CourseEnquiryStatus" class="form-control" #CourseEnquiryStatus="ngModel"
        required [(ngModel)]="cenqService.formData2.CourseEnquiryStatus">

        <option value="Responded">Responded</option>
        <option value="Accepted">Accepted</option>
        <option value="Rejected">Rejected</option>


    </select>
    <br><br>
    <select style="display: none;" name="CourseId" id="CourseId" class="form-control" #CourseId="ngModel" required
        [(ngModel)]="cenqService.formData2.CourseId">
        <option value=0 disabled>Choose Course</option>
        <option *ngFor="let res of cenqService.courses" value="{{res.CourseId}}">{{res.CourseName}}</option>


    </select>
    <input style="display: none;" type="" name="LeadId" [ngModel]="cenqService.formData2.LeadId" class="form-control" />
    <input style="display: none;" type="date" name="CourseEnquiryDate" #CourseEnquiryDate="ngModel"
        [(ngModel)]="cenqService.formData2.CourseEnquiryDate" class="form-control" [ngClass]="{ 'is-invalid': CourseEnquiryDate.touched
             && CourseEnquiryDate.invalid }" />
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary form-control">Update Status</button>


    </div>
</form>