<div class="container">
    <div class="header">
        <h5>Course Details</h5>
        <!--Search functionality-->
        <div class="form-group">
            <input class="form-control" type="text"
            placeholder="Search here..." [(ngModel)]="filter"> 

        </div>
      <br>
     
    </div>
    <table class="table table-bordered table-striped">
     <thead>
         <tr>
             <th>Course Id</th>
             <th>Course Name</th>
             <th>CourseFees</th>
             <th>CourseDescription</th>
             <th>IsActive</th>
            
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let crs of courseService.courses  |filter: filter |paginate:{itemsPerPage:2, currentPage: page}" >
             <td>{{crs.CourseId}}</td>
             <td>{{crs.CourseName}}</td>
             <td>{{crs.CourseFees}}</td>
             <td>{{crs.CourseDescription}}</td>
             <td>{{crs.IsActive}}</td>
            
         </tr>
     </tbody>
    </table>
    <div class="footer">
        <!--Pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>

</div>
    

