<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/batchpage">Go Back</a></li>
         
        
        </ul>
      </div>
    </div>
  </nav>
  <br>

<div class="container">
    <div class="header">
        <h5 class="text-center">
            Assign to Batch
        </h5>
        <!--Search-->
        <div class="form-group">
            <input class="form-control" type ="text"
            placeholder="search here..."
            [(ngModel)] ="filter">

        </div>
        <div>
          
            <a [routerLink] = "['trainee']"  class="btn btn-primary" style ="float :right;margin-bottom:10px" > Add Trainee</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                   TraineeId
                </th>
                <th>
                    LeadId
                </th>
                <th>
                   Batch Id
                </th>
            
                <th>
                    IsActive
                </th>
               
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bt of traineeService.trainees | filter: filter | paginate: {itemsPerPage: 5, currentPage:page} "  >
                <td (click)="populateForm(bt)">{{bt.TraineeId}}</td>
                <td (click)="populateForm(bt)">{{bt.LeadId}}</td>
                <td (click)="populateForm(bt)">{{bt.BatchId}}</td>
                <td (click)="populateForm(bt)">{{bt.IsActive}}</td>
               
                <td>
                    <button class="btn btn-sm btn-outline-danger" (click) ="deleteTrainee(bt.TraineeId)">Delete</button>&nbsp;
                    <button class="btn btn-sm btn-info" style="margin-left:10px"  (click)="updateTrainee(bt.TraineeId); populateForm(bt)">Edit</button>
                  
                </td>

            </tr>
        </tbody>



    </table>
    <div class="footer">
        <!--pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>

    </div>

</div>
