<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/admin">Go Back</a></li>
         
        
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
    <div class="header"> <br>
        <h2 style="margin-left: 17em;">Course Details</h2><br>
        <!--Search functionality-->
        <div class="form-group">
            <input class="form-control" type="text"
            placeholder="Search here..." [(ngModel)]="filter"> 

        </div>
      <br>
      <a [routerLink]="['../course']"class="btn btn-primary" style="float: right; margin-bottom: 10px;background-color: #7829cf;">Add Course</a>
    </div>
    <table class="table table-bordered table-striped">
     <thead>
         <tr>
             <th>Course Id</th>
             <th>Course Name</th>
             <th>CourseFees</th>
             <th>CourseDescription</th>
             <th>IsActive</th>
             <th>Action</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let crs of courseService.courses  |filter: filter |paginate:{itemsPerPage:2, currentPage: page}" >
             <td (click)="populateForm(crs)">{{crs.CourseId}}</td>
             <td (click)="populateForm(crs)">{{crs.CourseName}}</td>
             <td (click)="populateForm(crs)">{{crs.CourseFees}}</td>
             <td (click)="populateForm(crs)">{{crs.CourseDescription}}</td>
             <td (click)="populateForm(crs)">{{crs.IsActive}}</td>
             <td>
                 <button class="btn btn-sm btn-outline-danger"
                 (click)="deleteCourse(crs.CourseId)">X</button>&nbsp;
                 <button (click)="updateCourse(crs.CourseId)"  class="btn btn-info" style="margin-left: 10px;background-color: #7829cf;color:white">Edit</button>
                 
             </td>
         </tr>
     </tbody>
    </table>
    <div class="footer">
        <!--Pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>

</div> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br>
    
