<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/resourcelist">Go Back</a></li>
         
        
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div class="container">
<form name="resform" #form="ngForm" autocomplete="off"
(ngSubmit)="onSubmit(form)">


    <!--Resource Id-->

    <input style="display: none;" type="text" name="ResourceId" [(ngModel)]="resservice.formData.ResourceId" />

    <!--Resource Name-->

    <div class="form-group">

        <label>Resource Name</label>

        <input name="ResourceName" #ResourceName="ngModel" [(ngModel)]="resservice.formData.ResourceName"
            class="form-control" place holder="Enter Resource Name " minLength="10" maxLength="25" required
            [ngClass]="{'is invalid':ResourceName.touched && ResourceName.invalid}" />

        <div class="validation-error" *ngIf="ResourceName.touched&&ResourceName.invalid">

            <div *ngIf="ResourceName.errors.required">Resource Name is required</div>

        </div>



    </div>

    <!--Resource Fees-->

    <div class="form-group">

        <label>Resource Fees</label>

        <input type="number" name="ResourceFees" #ResourceFees="ngModel" [(ngModel)]="resservice.formData.ResourceFees"
            class="form-control" place holder="Enter Resource Fees " minLength="2" maxLength="25" required
            [ngClass]="{'is invalid':ResourceFees.touched && ResourceFees.invalid}" />

        <div class="validation-error" *ngIf="ResourceFees.touched&&ResourceFees.invalid">

            <div *ngIf="ResourceFees.errors.required">Resource Fees is required</div>

        </div>
    </div>

    


    <!--Resource Description-->

    <div class="form-group">

        <label>Resource Description</label>

        <input name="ResourceDescription" #ResourceDescription="ngModel" [(ngModel)]="resservice.formData.ResourceDescription"
            class="form-control" place holder="Enter Resource Description " minLength="2" maxLength="25" required
            [ngClass]="{'is invalid':ResourceDescription.touched && ResourceDescription.invalid}" />

        <div class="validation-error" *ngIf="ResourceDescription.touched&&ResourceDescription.invalid">

            <div *ngIf="ResourceDescription.errors.required">Resource Description is required</div>

        </div>
    </div>
 <!--Is Active-->

 <div class="form-group">
    <div style="display: none" class="form-check">
        <label class="form-check-label">Is Active</label>
        <input checked type="checkbox" name="IsActive" id="IsActive" #IsActive="ngModel"
            [(ngModel)]="resservice.formData.IsActive" class="form-check-input">

    </div>
</div>

    <!--Submit button-->
    <br>
    <div class="form-group" >
        <button  style="background:#7829cf;width:20%;margin-left:25em" type="submit" [disabled]="!(form.valid && form.dirty)"
        class="btn btn-lg btn-primary form-control">Submit</button>
    </div>


</form>
<br><br><br><br><br><br><br><br><br>
</div> 