
   <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/home">Home</a></li>
         
        
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
    <div class="header">
        <h5 class="text-center">
           Course Enquiry Info
        </h5>
        <!--Search-->
        <div class="form-group">
            <input class="form-control" type="text" placeholder="search here..." [(ngModel)]="filter">

        </div>


    </div>
    <!--Table list-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    CourseEnquiry ID
                </th>
                <th>
                    Lead ID
                </th>
                <th>
                    LeadName
                </th>
                <th>
                    CourseName
                </th>
                <th>
                    CourseEnquiry Status
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let view of this.courseenquiryviewService.courseenquiryviews | filter: filter | paginate: {itemsPerPage: 5, currentPage:page} ">
                <td>{{view.CourseEnquiryId}}</td>
                <td>{{view.LeadId}}</td>
                <td>{{view.LeadName}}</td>
                <td>{{view.CourseName}}</td>
                <td>{{view.CourseEnquiryStatus}}</td>
               

            </tr>
        </tbody>



    </table>
    <div class="footer">
        <!--pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>

    </div>

</div>
