<div class="container">
    <div class="header">
        <h5 class="text-center">
           Course Enquiry Info
        </h5>
        <!--Search-->
        <div class="form-group">
            <input class="form-control" type="text" placeholder="search here..." [(ngModel)]="filter">

        </div>


    </div>
    <!--Table list-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    CourseEnquiry ID
                </th>
                <th>
                    Lead ID
                </th>
                <th>
                    LeadName
                </th>
                <th>
                    CourseName
                </th>
                <th>
                    CourseEnquiry Status
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let view of this.courseenquiryviewService.courseenquiryviews | filter: filter | paginate: {itemsPerPage: 5, currentPage:page} ">
                <td>{{view.CourseEnquiryId}}</td>
                <td>{{view.LeadId}}</td>
                <td>{{view.LeadName}}</td>
                <td>{{view.CourseName}}</td>
                <td>{{view.CourseEnquiryStatus}}</td>
               

            </tr>
        </tbody>



    </table>
    <div class="footer">
        <!--pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>

    </div>

</div>
