body {
  font-family: "Montserrat", Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  color: #999999; 
}

.bg-light {
  background: #f8f9fa !important;
}
.ftco-section {
  padding-top: 1.5em;
  padding-bottom: 1em;
  position: relative;
}
.ftco-section-bottom {
  padding-top: 1.5em;
  padding-bottom: 5em;
  position: relative;
}
.ftco-bread .bread {
  font-weight: 700;
  color: #000000;
}
.shopping-idea {
  color: dimgrey;
  font-size: 20px;
}
.next-round-login{
  padding-bottom: 1em;
}
.next-round-login input {
  border-radius: 25px;
  width: 40%;
}
.form-control {
  margin-bottom: 1em;
  margin-top: 1em;
  height: auto;
  padding: 12px 20px;
  height: 52px !important;
  background: #fff !important;
  color: #856868 !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.button-login {
  display: inline-block;
  margin-bottom: 1em;
  padding: 8px 30px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #7829cf;
  transition: 0.3s;
  border: none;
}
.button-login.white,
.button-login:hover {
  background-color: #f92d97;
  color: #ffffff;
}
.shopping-idea-1{
  text-decoration: none;
  color: red;
  padding-left: 1.25em;
}
.shopping-idea-2 {
  color: dimgrey;
  font-size: 1.05em;
  margin-bottom: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.shopping-idea-2 a{
  text-decoration: none;
  color: #f67e7d;
}

/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
  .next-round-login input{ width: 50%; }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .next-round-login input{ width: 60%; }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
   .next-round-login input{ width: 100%; }
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .next-round-login input{ width: 100%; }
  
}

/*----header----*/
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.navbar-light .navbar-brand{
  color: white;
  font-weight: 500;
}