<header>
    <div class= "container">
    <h5>Welcome:{{loggedUserName}}</h5>
    </div>
    <nav>
    <ul class ="nav">
    <li class ="nav-item">
    <a class ="nav-link" href ="../salespipeline" >Salespipeline</a>
    </li>
    <li class ="nav-item">
    <a class ="nav-link" href ="../managercourseenquiryview" >Course Enquiry Summary</a>
    </li>
    <li class ="nav-item">
    <a class ="nav-link" routerLink ='../managerresourceenquiryview'>Resource Enquiry Summary</a>
    </li>
       
    </ul>
    </nav>
    </header>
