<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Geo Info Tech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>



                <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>

            </ul>
        </div>
    </div>
</nav>
<section class="ftco-section bg-light ftco-bread">
    <div class="container">
        <h1 class="mb-3 bread">Registration</h1>
        <p class="shopping-idea">Add your personal details for registering new account.</p>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <form name="leadform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
            <div class="next-round-login">

                <!--Lead id-->
                <input type="hidden" name="LeadId" [ngModel]="leadService.formData.LeadId" />

                <!--Lead name-->
                <label class="shopping-idea-2">Full Name</label>
                <input name="LeadName" #LeadName="ngModel" [ngModel]="leadService.formData.LeadName"
                    class="form-control" placeholder="Enter full name" minlength="3" maxlength="25" required
                    [ngClass]="{'is-invalid':LeadName.touched && LeadName.invalid}" />
                <div class="validation-error" *ngIf="LeadName.touched && LeadName.invalid">
                    <div *ngIf="LeadName.errors.required">
                        <p class="shopping-idea-1">Name is required</p>
                    </div>
                </div>
            </div>

            <!--Gender-->
            <label class="shopping-idea-4" for="Gender">Gender</label>
            <input type="radio" name="Gender" [(ngModel)]="leadService.formData.Gender" value="Male" required
                        #Gender="ngModel" checked="checked"><span class="shopping-idea-3">Male</span>
            <input type="radio" name="Gender" [(ngModel)]="leadService.formData.Gender" value="female"
                        required><span class="shopping-idea-3">Female</span>
            <br><br>

            <div class="next-round-login">
                <!--Highest Qualification-->
                <label class="shopping-idea-2">Highest Qualification</label>
                <input type="text" name="HighestQualification" #HighestQualification="ngModel"
                [ngModel]="leadService.formData.HighestQualification" class="form-control"
                placeholder="Enter Highest Qualification" minlength="2" maxlength="25" required
                [ngClass]="{'is-invalid':HighestQualification.touched && HighestQualification.invalid}" />
                <div class="validation-error" *ngIf="HighestQualification.touched && HighestQualification.invalid">
                    <div *ngIf="HighestQualification.errors.required">
                        <p class="shopping-idea-1">Highest Qualification is required</p>
                    </div>
                </div>

                <!--Date of Birth-->
                <label class="shopping-idea-2">Date of Birth</label>
                <input type="date" name="Dob" id="Dob" #Dob="ngModel" [ngModel]="leadService.formData.Dob"
                class="form-control" required [ngClass]="{'is-invalid':Dob.touched && Dob.invalid}" />
                <div class="validation-error" *ngIf="Dob.touched && Dob.invalid">
                    <div *ngIf="Dob.errors.required">
                        <p class="shopping-idea-1">Date Of Birth is required</p>
                    </div>
                </div>

                <!--State-->
                <label class="shopping-idea-2">State</label>
                <input type="text" name="AddState" #AddState="ngModel" [ngModel]="leadService.formData.AddState"
                class="form-control" placeholder="Enter State" minlength="2" maxlength="15" required
                [ngClass]="{'is-invalid':AddState.touched && AddState.invalid}" />
                <div class="validation-error" *ngIf="AddState.touched && AddState.invalid">
                    <div *ngIf="AddState.errors.required">
                        <p class="shopping-idea-1">State is required</p>
                    </div>
                </div>

                <!--City-->
                <label class="shopping-idea-2">City</label>
                <input name="City" #City="ngModel" [ngModel]="leadService.formData.City" class="form-control"
                placeholder="Enter City" minlength="2" maxlength="15" required
                [ngClass]="{'is-invalid':City.touched && City.invalid}" />
                <div class="validation-error" *ngIf="City.touched && City.invalid">
                    <div *ngIf="City.errors.required">
                        <p class="shopping-idea-1">city is required</p>
                    </div>
                </div>

                <!--Pincode-->
                <label class="shopping-idea-2">Pincode</label>
                <input type="text" name="Pincode" #Pincode="ngModel" [ngModel]="leadService.formData.Pincode"
                class="form-control" placeholder="Enter Pincode" minlength="6" maxlength="6" required
                [ngClass]="{'is-invalid':Pincode.touched && Pincode.invalid}" pattern="^[0-9]*$" />
                <div class="validation-error" *ngIf="Pincode.touched && Pincode.invalid">
                    <div *ngIf="Pincode.errors.required">
                        <p class="shopping-idea-1">Pincode is required</p>
                    </div>
                </div>

                <!--ContactNo-->
                <label class="shopping-idea-2">ContactNo</label>
                <input type="text" name="ContactNo" #ContactNo="ngModel" [ngModel]="leadService.formData.ContactNo"
                class="form-control" placeholder="Enter Contact No" minlength="10" maxlength="10" required
                [ngClass]="{'is-invalid':ContactNo.touched && ContactNo.invalid}" pattern="^((\\+91-?)|0)?[0-9]{10}$" />
                <div class="validation-error" *ngIf="ContactNo.touched && ContactNo.invalid">
                    <div *ngIf="ContactNo.errors.required">
                        <p class="shopping-idea-1">Contact No is required</p>
                    </div>
                    <div *ngIf="ContactNo.errors.pattern">
                        <p class="shopping-idea-1">Contact No is invalid</p>
                    </div>
                </div>

                <!--Email-->
                <label class="shopping-idea-2">Email</label>
                <input type="email" name="Email" #Email="ngModel" [ngModel]="leadService.formData.Email"
                class="form-control" placeholder="Enter Email" required
                [ngClass]="{'is-invalid':Email.touched && Email.invalid}"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                <div class="validation-error" *ngIf="Email.touched && Email.invalid">
                    <div *ngIf="Email.errors.required">
                        <p class="shopping-idea-1">Email is required</p>
                    </div>
                    <div *ngIf="Email.errors.pattern">
                        <p class="shopping-idea-1">Email address is invalid</p>
                    </div>
                </div>

                <!--Is Active-->
                <input type="hidden" name="IsActive" [ngModel]="leadService.formData.IsActive" />
        
            </div>
            <button type="submit" class="button-login" [disabled]="!(form.valid && form.dirty)">Register</button>

        </form>
    </div> 
    <br><br><br><br>
</section>