<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Geo Info Tech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/batchpage">Go Back</a></li>


      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="header"> <br>
    <h2 >Batch Details</h2> <br>
    <!--Search functionality-->
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Search here..." [(ngModel)]="filter">

    </div>
    <br>
    <a [routerLink]="['../batch']" class="btn btn-primary"
      style="float: right; margin-bottom: 10px;background: #7829cf;">Add Batch</a>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Batch Id</th>
        <th>Batch Name</th>
        <th>BatchStrength</th>
        <th>IsActive</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crs of batchService.batches  |filter: filter |paginate:{itemsPerPage:2, currentPage: page}">
        <td (click)="populateForm(crs)">{{crs.BatchId}}</td>
        <td (click)="populateForm(crs)">{{crs.BatchName}}</td>
        <td (click)="populateForm(crs)">{{crs.BatchStrength}}</td>
        <td (click)="populateForm(crs)">{{crs.IsActive}}</td>
        <td>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteBatch(crs.BatchId)">X</button>&nbsp;
          <button (click)="updateBatch(crs.BatchId)" class="btn btn-info"
            style="margin-left: 10px;background-color: #7829cf;color:white">Edit</button>

        </td>
      </tr>
    </tbody>
  </table>
  <div class="footer">
    <!--Pagination-->
    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
  </div>

</div>
<br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br>