<div class="container">
    <div class="header">
        <h5>Batch Info</h5>
        <!--Search functionality-->
        <div class="form-group">
            <input class="form-control" type="text"
            placeholder="Search here..." [(ngModel)]="filter"> 

        </div>
      
      <a [routerLink]="['../batch']"class="btn btn-primary" style="float: right; margin-bottom: 10px;">Add Batch</a>
    </div>
    <table class="table table-bordered table-striped">
     <thead>
         <tr>
             <th>Batch Id</th>
             <th>Batch Name</th>
             <th>BatchStrength</th>
             <th>IsActive</th>
             <th>Action</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let crs of batchService.batches  |filter: filter |paginate:{itemsPerPage:2, currentPage: page}" >
             <td (click)="populateForm(crs)">{{crs.BatchId}}</td>
             <td (click)="populateForm(crs)">{{crs.BatchName}}</td>
             <td (click)="populateForm(crs)">{{crs.BatchStrength}}</td>
             <td (click)="populateForm(crs)">{{crs.IsActive}}</td>
             <td>
                 <button class="btn btn-sm btn-outline-danger"
                 (click)="deleteBatch(crs.BatchId)">X</button>&nbsp;
                 <button (click)="updateBatch(crs.BatchId)"  class="btn btn-info" style="margin-left: 10px;">Edit</button>
                 
             </td>
         </tr>
     </tbody>
    </table>
    <div class="footer">
        <!--Pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>

</div>
    