<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/home">Home</a></li>
         
        
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
    <div class="header">
        <h5>Resource Details</h5>
        <!--Search functionality-->
        <div class="form-group">
            <input class="form-control" type="text"
            placeholder="Search here..." [(ngModel)]="filter"> 

        </div>
      <br>
     
    </div>


<div class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4" (ngModel)="filter">
    <div class="row">
        <div class="col-3" *ngFor="let crs of resourceService.resources |filter: filter |paginate:{itemsPerPage:4, currentPage: page}" >
            <div class="card" style="width: 18rem;">
                <a href=""><img class="card-img-top"
                        src="http://www.wiu.edu/cbt/images/CbtHomeResourcesFeb2018.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{crs.ResourceName}}</h5>
                    <p class="card-text"></p>
                    <a href="{{'./resourceindividualview/'+crs.ResourceId}}" class="btn btn-purple" >View Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <!--Pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
</div>