<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/home">Home</a></li>
         
          <li class="nav-item"><a class="nav-link" href="/courselistlead">Courses</a></li>
          <li class="nav-item"><a class="nav-link" href="/resourcelistlead">Resources</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>
          <li class="nav-item"><a class="nav-link" href="/confirm">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
<section class="ftco-section bg-light ftco-bread">
    <div class="container">
        <h1 class="mb-3 bread">Login</h1>
        <p class="shopping-idea">Login to your account.</p>
    </div>
</section>
<!-- Start main body Area -->
<section class="ftco-section bg-light">
    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()">
            <div class="next-round-login">
                <!--Username-->
                <input type="text" class="form-control" placeholder="Enter the user name" formControlName="UserName"
                    autocomplete="off" required />
                <div *ngIf="isSubmitted && formControls.UserName.errors">
                    <div *ngIf="formControls.UserName.errors.required">
                        <p class="shopping-idea-1">User name is required</p>
                    </div>
                </div>
                <!--Password-->
                <input type="password" class="form-control" placeholder="Enter the userpassword"
                    formControlName="UserPassword" autocomplete="off" required />
                <div *ngIf="isSubmitted && formControls.UserPassword.errors">
                    <div *ngIf="formControls.UserPassword.errors.required">
                        <p class="shopping-idea-1">Password is required</p>
                    </div>
                </div>
            </div>
            <button type="submit" class="button-login">Login</button>
            <div *ngIf=" error">
                <p class="shopping-idea-1">Wrong username or password</p>
            </div>
        </form>
        <p class="shopping-idea-2">Don't have an account yet. <a href="/confirm">Create one now !</a>
          
        </p>
    </div>
    <br><br><br><br> <br><br><br><br> <br><br>
</section>