<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/leadview">Home</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/leadview">Go Back</a></li>
         
        
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
  <h3 style="text-align: center;">Course Enquiry</h3>
  <form name="cenqform" #form="ngForm" autocomplete="nope" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label class="col-md-4">Course Name</label>
        <select name="CourseId" id="CourseId" class="form-control" placeholder="Choose Course" #CourseId="ngModel" required
            [(ngModel)]="cenqService.formData2.CourseId">
            <option value=0 disabled>Choose Course</option>
            <option *ngFor="let res of cenqService.courses" value="{{res.CourseId}}">{{res.CourseName}}</option>


        </select>
        <div class="validation-error" *ngIf="CourseId.touched 
        && CourseId.invalid">
            <div *ngIf="CourseId.errors.required">
                Course Name is required</div>
        </div>
    </div><br>
    <label for="EnquiryDescription">Your Enquiry</label>
    <textarea name="EnquiryDescription" id="EnquiryDescription" class="form-control" #EnquiryDescription="ngModel" required
    [(ngModel)]="cenqService.formData2.EnquiryDescription"></textarea><br><br><br>
    <!--<input style="display: none;" name="LeadId" #LeadId="ngModel" [ngModel]="renqService.formData.LeadId"
            class="form-control" placeholder="" 
            [ngClass]="{'is-invalid':LeadId.touched && LeadId.invalid}" />-->
    <input style="display: none;" name="CourseEnquiryStatus" #CourseEnquiryStatus="ngModel"
        [ngModel]="cenqService.formData2.CourseEnquiryStatus" class="form-control" placeholder=""
        [ngClass]="{'is-invalid':CourseEnquiryStatus.touched && CourseEnquiryStatus.invalid}" />
    <input style="display: none;"  type="date" name="CourseEnquiryDate" #CourseEnquiryDate="ngModel" [(ngModel)]="cenqService.formData2.CourseEnquiryDate"
        class="form-control"  [ngClass]="{ 'is-invalid': CourseEnquiryDate.touched
             && CourseEnquiryDate.invalid }" />
             
    <div class="form-group">
        <button  style="background:#7829CF;width:20%;;margin-left: 20em;" type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-primary form-control">Submit Enquiry</button>


    </div>
</form>
<br>
</div>

