<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7829cf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Geo Info Tech</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/manager">Go Back</a></li>
        
        </ul>
      </div>
    </div>
  </nav><br>
<div class="container">
    <div class="header">
        <h2 class="text-center">
           Resource Enquiry Details
        </h2><br>
        <!--Search-->
        <div class="form-group">
            <input class="form-control" type="text" placeholder="search here..." [(ngModel)]="filter">

        </div><br>


    </div>
    <!--Table list-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Resource Enquiry Id
                </th>
                <th>
                    Lead Id
                </th>
                <th>
                    Lead Name
                </th>
                <th>
                    Resource Name
                </th>
                <th>
                    Resource Enquiry Status
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let view of this.resourceenquiryviewService.resourceenquiryviews | filter: filter | paginate: {itemsPerPage: 5, currentPage:page} ">
                <td>{{view.ResourceEnquiryId}}</td>
                <td>{{view.LeadId}}</td>
                <td>{{view.LeadName}}</td>
                <td>{{view.ResourceName}}</td>
                <td>{{view.ResourceEnquiryStatus}}</td>
                

            </tr>
        </tbody>



    </table>
    <div class="footer">
        <!--pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>

    </div>

</div><br><br><br><br><br><br><br><br><br><br><br><br>
